.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #f8f9fa;
  }
  /* @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  } */
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 30rem;
  }
  @media (min-width: 768px) {
    .jumbotron .container {
      width: 100rem;
    }
  }

  .row {
    max-width: 800rem;
  }

  .btn-genreBubbles {
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  /* footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  } */

  .footer {
    background-color: #ececec;
    width: auto;
  }
  
  .w3-animate-fading{animation:fading 15s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
  .w3-animate-opacity{animation:opac 0.5s}@keyframes opac{from{opacity:0} to{opacity:1}}
  .w3-spin{border: 10px solid #f3f3f3;border-top: 10px solid #3498db;border-radius: 50%;width: 100px;height: 100px; margin: 20% auto; animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
       font-size: 3.5rem;
    }
  }
  @media (max-width: 450px) {
    .card-img-top {
      height: 100%;
    }
  }

.btn-xs{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px}

html, body {
  background-color:#f8f9fa!important;
  width: 100%;
  height: 100%;
  background-size: 100%;
}

  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

