.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

.container {
    align-items: center;
}

@media (min-width: 200px) {
    .container {
      width: 100%;
    }
  }